<%+ extend('layout') %>
 
<%+ section('content') %>
 
    <section class="row">
        <section class="col-12 col-sm-3 col-md-6">
            <form class="form-container">
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Region">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
               <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </section>
        <section class="col-12 col-sm-3 col-md-6">
            <h2>HHHHHHHHHHHHHHHHHHHHHH</h2>
        </section>
    </section>
 
<%+ endSection %>
 